footer
  .container.text-center
    p.pull-center © 2018 Church of the Well-Hatted, Inc. All Rights Reserved
    a.github-button.pull-right(href="https://github.com/bkmaibach/professorbot", data-icon="octicon-star", data-show-count="true", aria-label="Star bkmaibach/professorbot on GitHub") Star
