footer
  .container.text-center
    p.pull-left © 2018 Church of the Well-Hatted, Inc. All Rights Reserved
    a.github-button.pull-right(href="https://github.com/bkmaibach/itas185-cotwh", data-icon="octicon-star", data-show-count="true", aria-label="Star bkmaibach/itas185-cotwh on GitHub") Star
