nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href='/')
      i.fa.fa-cube
      | ProfessorBot
    button.navbar-toggle.d-lg-none(type="button" data-toggle="collapse", data-target=".navbar-collapse", aria-controls="navbar-collapse", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.mr-auto.navbar-nav
        li.nav-item(class=(title == 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
        li.nav-item(class=(title == 'Assignments') ? 'active' : undefined)
          a.nav-link(href='/assignments') Assignments
        li.nav-item(class=(title == 'Contact') ? 'active' : undefined)
          a.nav-link(href='/contact') Contact
      ul.mr-auto.navbar-nav.navbar-right
        if !user
          li.nav-item(class=(title == 'Login') ? 'active' : undefined)
            button.btn.btn-outline-secondary(type="button")
              a.nav-link(href='/login') Login 
                i.fa.fa-sign-in
          li.nav-item(class=(title == 'Create Account') ? 'active' : undefined)
            button.btn.btn-outline-success(type="button")
              a.nav-link(href='/signup') Create Account 
                i.fa.fa-user
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture, alt=(user.profile.name || user.email || user.id))
              else
                img(src=user.gravatar(60), alt=(user.profile.name || user.email || user.id))
              span= user.profile.name || user.email || user.id
              i.caret
            .dropdown-menu(aria-labelledby="navbarDropdown")
              a.dropdown-item(href='/account') My Account
              .dropdown-divider
              a.dropdown-item(href='/logout') Logout
hr