extends layout

block content
  h1 Home
  p.lead Quickly add assignments to the ProfessorBot student notifier system.
  hr
  .row
    .col-sm-6
      p ProfessorBot will remind your classmates of upcoming assignments! By default ProfessorBot will remind all subscribed classmates three days in advance of any assignment once per day at noon on Discord and optionally by text.
      p
        a.btn.btn-default(href='/assignments', role='button') View assignments »
    if user
      .col-sm-6
        h2 Add an Assignment
        form#addAssignment(method="POST")
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label(for="course") Course:
            select.form-control(id="course", name="course", autofocus, required)
              option ITAS175
              option ITAS181
              option ITAS164
              option ITAS186
          .form-group
            label(for="assignmentName") Assignment name:
            input.form-control(type="text", id="assignmentName", name="assignmentName", placeholder="In Class Lab 4", required)
          .form-group
            label(for="dueDate") Due date:
            input.form-control(type="date", id="dueDate", name="dueDate", required)
          .form-group
            label(for="dueTime") by what time:
            input.form-control(type="time", id="dueTime", name="dueTime", required)
          .form-group
            label(for="url") Assignment URL:
            input.form-control(type="url", id="url", name="url", required)
          .form-group
            label(for="note") Special note (optional):
            textarea.form-control(type="textarea", rows="3", id="note", name="note")
          button.btn.btn-primary.submitNewAssignment( type="submit") Submit
    else
      .col-sm-6
        h2 Let's get started
        p Login or sign up if you would like to edit assignment notifications for the class.
        p
          a.btn.btn-default(href='/login', role='button') Login »
          a.btn.btn-default(href='/signup', role='button') Create Account »